@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

* {
  padding: 0; margin: 0; outline: 0;
  font-family: "Roboto";
  font-size: 1.1rem;
}

*::selection {
  color: #fb4b4b;
}

body {
  background-color: #ffffff;
}

div.wrap {
  max-width: 800px;
  margin: 0 auto;
}

div.header {
  background-color: #fb4b4b;
  color: #ffffff;
  padding: 16px;
}

div.content {
  margin: 16px 0;
}

button, textarea {
  display: block;
  box-sizing: border-box;
  border: 1px solid #fb4b4b;
  width: 100%;
  padding: 8px;
}

button {
  color: #000000;
  background-color: #fb4b4b;
  border-top: 0;
  border-bottom: 0;
}
button:hover {
  color: #ffffff;
}

textarea {
  
  resize: none; 
}
textarea:disabled {
  background-color: #ffffff;
}
